<%- include('partials/header.ejs') %>
<div class="contener">
    <div class="filter">
    </div>
    <div class="all-prodcut">
        <div class="product-box">
            <div class="product-img">
                <img src="images/smartphone/51bfhhUKhTL._AC_UY218_ (1).jpg" alt="smartphone phone">
            </div>
            <div class="product-heading">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio magnam molestias, natus nobis in atque odit, ad autem ipsum molestiae vel cumque, consequuntur enim sed.
            </div>
            <div class="product-prize">
                $129
            </div>
        </div>
    </div>    
</div>

<%- include('partials/footer.ejs') %>