<%- include('partials/header.ejs') %>
<div class="contener">
    <div class="filter">
        <form id="brandForm" action="/submit" method="post">
            <legend>Featured Brands</legend>
                <label><input type="checkbox" name="brand" value="Motorola"> Motorola</label><br>
                <label><input type="checkbox" name="brand" value="Google"> Google</label><br>
                <label><input type="checkbox" name="brand" value="OnePlus"> OnePlus</label><br>
                <label><input type="checkbox" name="brand" value="SAMSUNG"> SAMSUNG</label><br>
                <label><input type="checkbox" name="brand" value="Apple"> Apple</label><br>
                <label><input type="checkbox" name="brand" value="Blackview"> Blackview</label><br>
                <label><input type="checkbox" name="brand" value="TracFone"> TracFone</label><br>
                <label><input type="checkbox" name="brand" value="Xiaomi"> Xiaomi</label><br>
                <label><input type="checkbox" name="brand" value="Sony"> Sony</label><br>
                <label><input type="checkbox" name="brand" value="Total by Verizon"> Total by Verizon</label><br>
                <label><input type="checkbox" name="brand" value="BLU"> BLU</label><br>
                <label><input type="checkbox" name="brand" value="Nokia"> Nokia</label><br>
                <label><input type="checkbox" name="brand" value="Xgody"> Xgody</label><br>
                <label><input type="checkbox" name="brand" value="fuxinya"> fuxinya</label><br>
                <label><input type="checkbox" name="brand" value="WV LeisureMaster"> WV LeisureMaster</label><br>
                <label><input type="checkbox" name="brand" value="Ulefone"> Ulefone</label><br>
                <label><input type="checkbox" name="brand" value="LIVELY"> LIVELY</label><br>
                <label><input type="checkbox" name="brand" value="ATEVENSEE"> ATEVENSEE</label><br>
                <label><input type="checkbox" name="brand" value="OUKITEL"> OUKITEL</label><br>
                <label><input type="checkbox" name="brand" value="XUANMEIKE"> XUANMEIKE</label><br>
                <label><input type="checkbox" name="brand" value="Sefwon"> Sefwon</label><br>
                <label><input type="checkbox" name="brand" value="Hipipooo"> Hipipooo</label><br>
         
            <input type="submit" value="Submit">
        </form>    </div>
    <div class="all-prodcut">
        <div class="product-box">
            <div class="product-img">
                <img src="images/smartphone/51bfhhUKhTL._AC_UY218_ (1).jpg" alt="smartphone phone">
            </div>
            <div class="product-details">
                <div class="product-heading">
                   <a href="/product/1">Motorola Moto G Stylus | 2022 | 2-Day Battery | Unlocked | Made for US 4/128GB | 50MP Camera | Twilight Blue
                    Motorola Moto G Stylus | 2022 | 2-Day Battery | Unlocked | Made for US 4/128GB | 50MP Camera | Twilight Blue               </a>  </div>
                <div class="product-prize">
                   <p> <strong>$129</strong></p>Typical:  <strike>$149.99 </strike> 
                </div>
                Delivery <strong>Thu, Mar 21</strong>
            </div>
           
        </div>
    </div>    
</div>

<%- include('partials/footer.ejs') %>